<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Css Grid Flex box</title>
    <link rel="stylesheet" href="layout1.css">
</head>

<body>
    <div class="container">
        <div class="title-bar">
            <div class="left-title-container">
                <span class="app-logo"><image>My Logo</image> </image></span>
                <span class="myapp">My App</span>
            </div>
            <div class="right-title-container">
                <span class="search">Search</span>
                <span class="logout">Logout</span>
            </div>
            
        </div>
        <div class="header-menu">
            <span>Dashboard</span>
            <span>Projects</span>
            <span>Models</span>
            <span>Catalog</span>
            <span>My Files</span>
        </div>
        <div class="sidebar-menu">
            <span>Overview</span>
            <span>Studies</span>
            <span>Content viewer</span>
        </div>
        <div class="content">Content</div>
        <footer>
            <div>
                <span>Copy C 2022. All rights reserved.</span>
            </div>
            <div>
                <span>About Us</span>
                <span>Events</span>
                <span>Legal</span>
                <span>Privacy Policy & Terms of Use</span>
                <span>Contact Us</span>
            </div>

        </footer>
    </div>

</body>

</html>