body{
    margin: 0px;
}
.container{
   
    background-color: aqua;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.child{
background-color: rgb(237, 200, 17); 
border: 1px solid black;
/* width: 400px; //this wont work */
 /* flex-basis: 200px;*/
 display: flex;
 
}
.child>div{
    border:1px solid red;
    padding:2px;
    max-height:20px;
    
}
.child:nth-of-type(1){
    /* max-width: 400px;
    min-width: 400px;
    flex-shrink: 0; */
    flex: 0 0 115px;
}
.child:nth-of-type(2){
    flex: 1 0 200px;
    /* flex-shrink: 0;
    flex-basis: 200px; */
}
.child:nth-of-type(3){
    /* max-width: 125px;
    min-width: 125px; */
    /* flex-basis: 125px;
    flex-shrink: 0; */
    flex: 0 0 0;
    /* flex-direction: row-reverse; */

    
}
.search{
    background-color: white;
    border: 1px solid black;
    min-width: 200px;
}